MONGODB_URI="mongodb+srv://sheet:samplepass1@sheet.d6mwyaj.mongodb.net/iqms?retryWrites=true&w=majority&appName=sheet"

APP_AUTH_SECRET="yhhkdspgqyooguhq"
APP_AUTH_GOOGLE_CLIENT_ID="69284629770-knbopng3945tvl079p31poe48k8vp112.apps.googleusercontent.com"
APP_AUTH_OTP_BYPASS_KEY="yhhkdspgqyooguhq"

APP_MAIL_ENABLED=true
APP_MAIL_HOST="smtp.gmail.com"
APP_MAIL_PORT=587
APP_MAIL_USERNAME="createsheetverify@gmail.com"
APP_MAIL_PASSWORD="yhhkdspgqyooguhq"
APP_MAIL_FROM="createsheetverify@gmail.com"
APP_MAIL_FROM_NAME="IQMS"
APP_MAIL_AUTH=true
APP_MAIL_STARTTLS=true

APP_PAYMENT_RAZORPAY_ENABLED=true
RAZORPAY_KEY_ID="rzp_test_SdTP3SmnzAzkVk"
RAZORPAY_KEY_SECRET="VZGd5XHvxJgMH1Z3DtXU7OKa"
